<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Notho Tienda</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


<link rel="stylesheet" href="/css/styles.css">

</head>
<body>

  <header>
    <h1>Notho Tienda</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/realtimeproducts">Products</a>
    </nav>
    <hr />
  </header>

  {{{body}}}

</body>
</html>